*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);  
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.chart{
    display: flex;
    padding: 2rem;
    border: 2px solid #45e814;
    border-radius: 1rem;
    background: #030303;
    box-shadow: 0 0 16px rgba(0 0 0 0.8)
}
.dat.labels
{
    font-style: italic;
    color: whitesmoke;
}
h1
{
    font-size:5vmin;
    font-style:oblique;
}
